@{
    ViewData["Title"] = "Cheap Flights Search";
}
<head>
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Cheap Flights </h1>
    <h2>Find your next adventure</h2>
    <h2>To use this site you must log in</h2>
</div>
</body>