@{
    ViewData["Title"] = "Logged In";
}

<h2>You are logged in!</h2>

<form method="post" asp-action="ListedData">
    <button type="submit" class="btn btn-primary">List data</button>
</form>
<form method="post" asp-controller="Home" >
    <br>
    <div class="form-group">
        <label for="TextData">TextData</label>
        <input type="text" class="form-control" id="TextData" name="TextData" required>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Add data</button>
    <br>
</form>


<form method="post" asp-action="Logout">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>