@{
    Layout = "_MainLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/mainPage.css" asp-append-version="true"/>
</head>
<body>
<header>
</header>
<h1>Hello, @ViewBag.Name @ViewBag.Surname 🧭!</h1>
<div>
    <h2> Your previous journeys 🏝️:</h2>
</div>

</body>
</html>